<!--/ START legal Information /--> 

<div id="TCModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Legal Information</h3>
  </div>
  <div class="modal-body">
  <h4>Disclaimer</h4>
    <p>Please see legal information for specific promotion.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!--/ END legal Information /--> 