html, body {
	height: 100%;
}

/* center navbar menu */
.navbar .container {
	max-width: 1170px;
}

/* FA 3.1 removed property */
li [class^="icon-"]:before {
  width: 1.25em;
}

/* home */
.thumbnails > li {
	margin-bottom: 0;
}

.row {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* portfolio */
.gallery.thumbnails > li {
	margin-bottom: 23px;
}

/* sticky footer */
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -120px;
}
.footer, .push {
	height: 120px;
}


/* Footer
 -------------------------------------------------- */

.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
.footer p {
	margin-bottom: 0;
	color: #777;
}
.footer-links {
	margin: 10px 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
.footer-links li:first-child {
	padding-left: 0;
}

/* Elemento Gototop
 -------------------------------------------------- */

#gototop {
	margin: -20px auto 20px;
	border: 1px solid transparent;
	line-height: 30px;
	width: 30px;
	height: 30px;
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: inset 0 0 0 rgba(0,0,0,0);
	box-shadow: inset 0 0 0 rgba(0,0,0,0);
	-webkit-border-radius: 56px;
	-moz-border-radius: 56px;
	border-radius: 56px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
}
#gototop:hover {
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3), 0 1px 1px #fff;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3), 0 1px 1px #fff;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.3), 0 1px 1px #fff;
}
