body {
	background-color: #000;
	background-image: url('../img/full-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right top;
	background-attachment: fixed;
	color: #ccc;
}

a {
	color: #2898fc;
}

.ov {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,.7);
}

.right h4 {
	line-height: 1.5em;
}

.bar {
	color: #1d1d1d;
}

.alert .close {
	top: -10px;
	right: -10px;
}

.label {
	display: inline-block;
	margin: 15px;
}

label {
	display: block;
}

label[for=pdate],label[for=popfile] {
    visibility: visible !important;
    opacity: 1 !important;
    -webkit-transform: translate(0, -1em) !important;
    -moz-transform: translate(0, -1em) !important;
    -o-transform: translate(0, -1em) !important;
    -ms-transform: translate(0, -1em) !important;
    transform: translate(0, -1em) !important;
}

.dtp table.dtp-picker-days tr > td > a.selected,.dtp div.dtp-date, .dtp div.dtp-time {
	background: #FF4081;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
	background: #ef2067;
}

.dtp .p10 > a, .dtp div.dtp-actual-year {
	color: #eee;
}

.theme {
	background: #2898fc !important;
	background-color: #2898fc !important;
	color: #fff !important;
}

.left {
	padding-top: 30px;
}


input[type="text"],input[type="date"],input[type="email"],input[type="tel"],select {
	outline: none;
	border: none;
	border-bottom: 3px solid #999999;
/* 	margin-top: 15px; */
	margin: 5px 0 10px 0;
	padding: 0;
	color: #999;
	width: 100%;
	background: transparent;
	display: block;
	font-size: 1.8rem;
	-webkit-transition: ease all .5s;
	-moz-transition: ease all .5s;
	-o-transition: ease all .5s;
	transition: ease all .5s;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
}

	#carrier:after {
        content: "f0d7";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 60%;
        line-height: 30px;
        padding: 0 7px;
        color: #575757;
        pointer-events:none;
    }

	input[type="text"]:focus,input[type="date"]:focus,input[type="tel"]:focus,input[type="email"]:focus,select:focus {
		outline: none;
		border: none;
		border-bottom: 3px solid #575757;
		margin: 15px 0;
		color: #575757;
		-webkit-transition: ease all .5s;
		-moz-transition: ease all .5s;
		-o-transition: ease all .5s;
		transition: ease all .5s;
	}

	input[type="submit"], button {
		background: #575759;
		color: #fff;
		text-transform: uppercase;
		outline: none;
		border: none;
		padding: 10px;
		-webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.42);
		-moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.42);
		box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.42);
		cursor: pointer;
		float: right;
		margin-top: 15px;
		font-size: 1.8rem;
		margin-left: 20px;
	}

	.termsagree {
		width: 50%;
	}

	@media screen and (max-width: 468px) {
		.termsagree {
			width: 100%;
		}
	}

	.heading {
		position:relative;
		top: 0;
		width: 100%;
		z-index: 999;
		padding: 20px;
	}

	.heading img {
		max-height: 100px;
		max-width: 85%;
		margin: 0 20px 20px;
	}

	.content {
/* 		height: calc( 100vh - 255px ); */
/* 		min-height: calc( 100vh - 255px ); */
		height: auto;
/* 		overflow: scroll; */
		margin: 10px 15px 20px;
	}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* style 6 */

.inputfile-6 + label {
    color: #FF4081;
}

.inputfile-6 + label {
    border: 1px solid #FF4081;
    background-color: #eee;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #ef2067;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #eee;
    background-color: #FF4081;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #ef2067;
}


@media screen and (max-width: 991px) {
	.inputfile + label {
	    max-width: 100%;
	    width: 100%;
	}
	.inputfile-6 + label strong {
		display: block;
	}
}

@media screen and (max-width: 767px) {
	.content {
		margin: 10px 0 20px;
	}
}
